.Categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
    li {
        margin: 0 0.75rem 0.75rem;
        button {
            padding: 0.375rem 0.75rem;
            border-radius: 0.2rem;
            font: {
                size: 16px;
                weight: 600;
            }
            text-transform: capitalize;
            color: $mainColor;
            @include generateTransition(all);
            &:hover {
                background-color: $mainColor;
                color: $whiteColor;
            }
        }
    }
}
