.Container {
    width: 100%;
    @include leftRightPadding(15px, 15px);
    margin-left: auto;
    margin-right: auto;
    @include smallQuery {
        width: 750px;
    }
    @include mediumQuery {
        width: 970px;
    }
    @include largeQuery {
        width: 1170px;
    }
}

ul {
    list-style-type: none;
}

.ImgFluid {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

%centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

%leftRightCenter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
