// media queries:
$mobileWidth: 576px;
$samllWidth: 768px;
$mediumWidth: 992px;
$largeWidth: 1200px;

// colors:
$mainColor: #2caeba;
$secondaryColor: #dae2ec;
$thirdColor: #324d67;
$whiteColor: #fff;
$blackColor: #444;

// fix values:
$radius: 0.5rem;
$padding: 30px;
$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
